.pagelogin {
  background-color: #442725; /* fundo principal */
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Logo (lado esquerdo) */
.logo {
  max-width: 420px;
  width: 100%;
  height: auto;
  object-fit: contain;
  border-radius: 8px;
}

/* Caixa de login */
.formulario {
  background-color: #5b362f;
  padding: 40px 60px;
  border-radius: 12px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.3);
  text-align: center;
  width: 100%;
  max-width: 420px;
}

/* Título */
.tituloLogin {
  color: #e4caa5;
  margin-bottom: 40px;
  text-transform: uppercase;
  font-weight: bold;
  letter-spacing: 1px;
}

/* Botão */
.botaoLogin {
  background-color: #68bca1 !important;
  border: none !important;
  color: #442725 !important;
  font-weight: bold;
  transition: 0.3s;
}

.botaoLogin:hover {
  background-color: #559a87 !important;
  color: #fff !important;
}

/* Erros */
.error {
  color: #e4caa5;
  font-size: 0.9rem;
  margin-top: 5px;
}
